doctype 5
html
  head
    title= 'Odysseus TRPG System - ' + title
    link(rel='stylesheet', href='http://fonts.googleapis.com/css?family=Uncial+Antiqua')
    link(rel='stylesheet', href='/bootstrap/css/bootstrap.min.css')
    link(rel='stylesheet', href='/stylesheets/style.css')
    script(src='/javascripts/json2.js')
    script(src='/javascripts/jquery-1.9.1.min.js')
    script(src='/javascripts/underscore-min.js')
    script(src='/javascripts/socket.io.min.js')
    script(src='/bootstrap/js/bootstrap.min.js')
    block head
  body
    block content
