extends layout

block content
  .container
    .row
      .span6.offset3
        h1#ocs-title Odysseus TRPG System
        hr
        form.form-horizontal(method='POST', action='login')
          .control-group
            label.control-label(for='inputUsername') 用户名
            .controls
              input#inputUsername(name='username', type='text', placeholder='你的奥德赛论坛用户名')
          .control-group
            label.control-label(for='inputPassword') 口令
            .controls
              input#inputPassword(name='password', type='password', placeholder='你的奥德赛论坛密码')
          .control-group
            .controls
              button.btn.btn-primary(type='submit') 登录
